<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>海鲜之家-海鲜短视频</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link href="static/baike2/css/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="static/baike2/js/jquery.min.js"></script>
        <script type="text/javascript" src="static/baike2/js/slider.js"></script>

    </head>
    <body>


        <section class="aui-flexView">
		
				    <div style="width:100%">
						<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI3ODM3MzM4MQ==&scene=110#wechat_redirect">
						<img src="/static/home/bcd/images/gongzhonghao.jpg" style="width:100%;">
						</a>
					</div>
		
                <div class="aui-right-list">
                    <div class="aui-product">
                        <h2>视频列表</h2>
                    </div>
                </div>
                <div class="aui-product-list">
                    <a href="haixianbaike.java?cmd=detail&msg=带您认识舟山海鲜-雷达网带鱼&image=leidawang.png&vedio=leidawang.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/leidawang.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（1）带您认识舟山海鲜-雷达网带鱼</h3>
                        </div>
                    </a>
                    <a href="haixianbaike.java?cmd=detail&msg=带您认识舟山海鲜-雷达网带鱼&image=dongzhi.png&vedio=dongzhidaiyu.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/dongzhi.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（2）带您认识舟山海鲜-冬至带鱼</h3>
                        </div>
                    </a>
                    <a href="haixianbaike.java?cmd=detail&msg=带您认识舟山海鲜-竹节虾&image=zhujiexia.png&vedio=zhujiexia.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/zhujiexia.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（3）带您认识舟山海鲜-竹节虾</h3>
                        </div>
                    </a>
					<a href="haixianbaike.java?cmd=detail&msg=如何挑舟山带鱼&image=tiaodaiyu.png&vedio=tiaodaiyu.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/tiaodaiyu.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（4）如何挑舟山带鱼</h3>
                        </div>
                    </a>
					
					<a href="haixianbaike.java?cmd=detail&msg=挑鱼只需两招&image=tiaoyuliangzhao.png&vedio=tiaoyuliangzhao.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/tiaoyuliangzhao.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（5）挑鱼只需两招</h3>
                        </div>
                    </a>
					
					<a href="haixianbaike.java?cmd=detail&msg=如何轻松挑虾线&image=tiaoxiaxian.png&vedio=tiaoxiaxian.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/tiaoxiaxian.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（6）如何轻松挑虾线</h3>
                        </div>
                    </a>
					
					<a href="haixianbaike.java?cmd=detail&msg=清蒸舟山带鱼&image=qingzhengdaiyu.png&vedio=qingzhengdaiyu.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/qingzhengdaiyu.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（7）清蒸舟山带鱼</h3>
                        </div>
                    </a>
					
					
					<a href="haixianbaike.java?cmd=detail&msg=白灼竹节虾&image=baizhuozhujiexia.png&vedio=baizhuozhujiexia.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/baizhuozhujiexia.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（8）白灼竹节虾</h3>
                        </div>
                    </a>
					
					
					<a href="haixianbaike.java?cmd=detail&msg=蚂蚁岛淡干生虾皮&image=xiapi.png&vedio=xiapi.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/xiapi.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（9）蚂蚁岛淡干生虾皮</h3>
                        </div>
                    </a>
					
					<a href="haixianbaike.java?cmd=detail&msg=同样是大黄鱼，你为什么这么优秀&image=dahuangyu.png&vedio=dahuangyu.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/dahuangyu.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（10）同样是大黄鱼，你为什么这么优秀？</h3>
                        </div>
                    </a>
					
		   <a href="haixianbaike.java?cmd=detail&msg=梭子蟹&image=suozixie.png&vedio=suozixie.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/suozixie.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（11）梭子蟹</h3>
                        </div>
                    </a>
		
			<a href="haixianbaike.java?cmd=detail&msg=墨鱼、鱿鱼、章鱼傻傻分不清楚&image=moyu.png&vedio=moyu.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/moyu.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（12）墨鱼、鱿鱼、章鱼傻傻分不清楚</h3>
                        </div>
                    </a>
                    
                    
                    
                    <a href="haixianbaike.java?cmd=detail&msg=如何区分黄鱼三兄弟&image=huangyu.png&vedio=huangyusanxiongdi.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/huangyu.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（13）如何区分黄鱼三兄弟</h3>
                        </div>
                    </a>
                    
                    
                    <a href="haixianbaike.java?cmd=detail&msg=带您认识舟山海鲜-野生虾干&image=yeshengxiagan.png&vedio=yeshengxiagan.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/yeshengxiagan.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（14）带您认识舟山海鲜-野生虾干</h3>
                        </div>
                    </a>
                    
                    <a href="haixianbaike.java?cmd=detail&msg=带您认识舟山海鲜-红果鲤&image=hongguoli.png&vedio=hongguoli.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/hongguoli.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（15）带您认识舟山海鲜-红果鲤</h3>
                        </div>
                    </a>
                    		

					<a href="haixianbaike.java?cmd=detail&msg=带您认识舟山海鲜-海蜇&image=haizhe.png&vedio=haizhe.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/haizhe.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（16）带您认识舟山海鲜-海蜇</h3>
                        </div>
                    </a>
                    
                    <a href="haixianbaike.java?cmd=detail&msg=带您认识舟山海鲜-章跳&image=zhangtiao.png&vedio=zhangtiao.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/zhangtiao.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（17）带您认识舟山海鲜-章跳</h3>
                        </div>
                    </a>
                    
                    
                    <a href="haixianbaike.java?cmd=detail&msg=带您认识进口海鲜-北极虾&image=beijixia.png&vedio=beijixia.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/beijixia.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（18）带您认识进口海鲜-北极虾</h3>
                        </div>
                    </a>
                    
                    
                    <a href="haixianbaike.java?cmd=detail&msg=如何挑北极虾&image=tiaobeijixia.png&vedio=tiaobeijixia.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/tiaobeijixia.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（19）如何挑北极虾</h3>
                        </div>
                    </a>
                    
                    <a href="haixianbaike.java?cmd=detail&msg=带您认识进口海鲜-阿根廷红虾&image=agenting.png&vedio=agenting.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/agenting.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（20）带您认识进口海鲜-阿根廷红虾</h3>
                        </div>
                    </a>
                    
                    <a href="haixianbaike.java?cmd=detail&msg=带您认识进口海鲜-鳕鱼&image=xueyu.png&vedio=xueyu.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/xueyu.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（21）带您认识进口海鲜-鳕鱼</h3>
                        </div>
                    </a>
                    <a href="haixianbaike.java?cmd=detail&msg=同样是金枪鱼，差别怎么这么大&image=tongyangjinqiang.png&vedio=tongyangjinqiang.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/tongyangjinqiang.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（22）同样是金枪鱼，差别怎么这么大</h3>
                        </div>
                    </a>
                    <a href="haixianbaike.java?cmd=detail&msg=把虹鳟叫成三文鱼，您认同吗？&image=hongzunsanwen.png&vedio=hongzunsanwen.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/hongzunsanwen.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（23）把虹鳟叫成三文鱼，您认同吗？</h3>
                        </div>
                    </a>
                    <a href="haixianbaike.java?cmd=detail&msg=金枪鱼的营养价值为什么这么高&image=jinqiangyu.png&vedio=jinqiangyu.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/jinqiangyu.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（24）金枪鱼的营养价值为什么这么高</h3>
                        </div>
                    </a>
                    
                    <a href="haixianbaike.java?cmd=detail&msg=海鲜行业趣事-真假龙利鱼&image=longliyu.png&vedio=longliyu.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/longliyu.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（25）海鲜行业趣事-真假龙利鱼</h3>
                        </div>
                    </a>
                    
                    
                    <a href="haixianbaike.java?cmd=detail&msg=海鲜行业的两个潜规则，说说“龙利鱼”泡药和包冰&image=longliyupaoyao.png&vedio=longliyupaoyao.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/longliyupaoyao.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（26）海鲜行业的两个潜规则，说说“龙利鱼”泡药和包冰</h3>
                        </div>
                    </a>
                    
                    <a href="haixianbaike.java?cmd=detail&msg=大海中的长寿菜，带您认识羊栖菜&image=yangxicai.png&vedio=yangxicai.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/yangxicai.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（27）大海中的长寿菜，带您认识羊栖菜</h3>
                        </div>
                    </a>
               		<a href="haixianbaike.java?cmd=detail&msg=带您认识舟山海鲜—银鲳&image=yinchang.png&vedio=yinchang.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/yinchang.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（28）带您认识舟山海鲜—银鲳</h3>
                        </div>
                    </a>
                    
                    <a href="haixianbaike.java?cmd=detail&msg=带您认识舟山海鲜—风鳗沙鳗&image=fengmanshaman.png&vedio=fengmanshaman.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/fengmanshaman.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（29）带您认识舟山海鲜—风鳗&沙鳗</h3>
                        </div>
                    </a>
                    
                    <a href="haixianbaike.java?cmd=detail&msg=海鲜行业趣事-小龙虾是非多&image=xiaolongxia.png&vedio=xiaolongxia.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/xiaolongxia.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（30）海鲜行业趣事-小龙虾是非多</h3>
                        </div>
                    </a>
                    <a href="haixianbaike.java?cmd=detail&msg=淡水生鱼片能吃吗&image=shengyupian.png&vedio=shengyupian.mp4" class="aui-flex">
                        <div class="aui-product-img">
                            <img src="/static/upload/baike/vedio/shengyupian.png" alt="">
                        </div>
                        <div class="aui-flex-box">
                            <h3>（31）淡水生鱼片能吃吗</h3>
                        </div>
                    </a>
                    
                </div>
                <div style="height:65px;"></div>
            </section>

        </section>

<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
        <script type="text/javascript">
            function b() {
                t = parseInt(x.css('top'));
                y.css('top', '50px');
                x.animate({
                    top: t - 50 + 'px'
                }, 'slow');
                if (Math.abs(t) == h - 50) {
                    y.animate({
                        top: '0px'
                    }, 'slow');
                    z = x;
                    x = y;
                    y = z;
                }
                setTimeout(b, 3000);
            }
            $(document).ready(function() {
                $('.swap').html($('.news_li').html());
                x = $('.news_li');
                y = $('.swap');
                h = $('.news_li li').length * 50;
                setTimeout(b, 3000);
            })

        </script>

	
<script type="text/javascript">
var timestamp = '$!jsmap.get("timestamp")';
var nonceStr = '$!jsmap.get("noncestr")';
var signature = '$!jsmap.get("signature")';
var expires_in = '$!jsmap.get("expires_in")';
var appId='$!{jsmap.get("appid")}';
var MenuShareTimelineObj={};
wx.config({
    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: appId, // 必填，公众号的唯一标识
    timestamp: timestamp, // 必填，生成签名的时间戳
    nonceStr: nonceStr, // 必填，生成随机串
    signature: signature,// 必填，签名，见附录1
    jsApiList: [
				'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage'
                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});
wx.ready(function(){
	wx.checkJsApi({
	    jsApiList: ['checkJsApi',
	                'onMenuShareTimeline',
	                'onMenuShareAppMessage'
	                ], // 需要检测的JS接口列表，所有JS接口列表见附录2,
	    success: function(res) {
	    }
	        // 以键值对的形式返回，可用的api值true，不可用为false
	        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
	    });
});
</script>
	#set($indexImg="")
	<script type="text/javascript">
	wx.ready(function(){
		
		wx.checkJsApi({
		    jsApiList: [
						'checkJsApi',
						'onMenuShareTimeline',
		                'onMenuShareAppMessage'
		                ], // 需要检测的JS接口列表，所有JS接口列表见附录2,
		    success: function(res) {
		    }
		        // 以键值对的形式返回，可用的api值true，不可用为false
		        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
		    });
		var shareData = {
		title: '海鲜之家-海鲜短视频', // 分享标题
		desc: '海鲜之家-海鲜短视频', // 分享描述
		link: "http://shop.houseofseafood.cn/wxShopBase.java?cmd=jump&accountId=1&jumpUrl="+ encodeURIComponent("http://shop.houseofseafood.cn/haixianbaike.java?cmd=init&accountId=1"), // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
		imgUrl: 'http://shop.houseofseafood.cn/static/upload/baike/vedio/leidawang.png' // 分享图标
		}
		wx.onMenuShareTimeline(shareData);
		wx.onMenuShareAppMessage(shareData);
	});
	</script>
		
    </body>
</html>
