<dl>
        <dt><a href="/goods_53.htm" target="_blank"><img src="/upload/store/1/f430eef7-f01c-4822-9c57-51fc135bc9db.jpg_small.jpg" /></a></dt>
  <span class="contrast_center_center_close" goods_id="53"></span>  
  <dd><a href="/goods_53.htm" target="_blank">Dell 戴尔 Ins15CR-1528L 15.6英寸笔记本电脑</a></dd>
</dl>
<dl>
        <dt><a href="/goods_114.htm" target="_blank"><img src="/upload/system/self_goods/fa8708c5-f50d-463c-a186-b478c5a71457.jpg_small.jpg" /></a></dt>
  <span class="contrast_center_center_close" goods_id="114"></span>  
  <dd><a href="/goods_114.htm" target="_blank">asdasdasdasd</a></dd>
</dl>
