<!-- 首页橱窗管理 -->
<div class="bottom_slide">
	<script>
		jQuery('document').ready(function() {
			jQuery('.picScroll').slide({
				mainCell : 'ul',
				autoPlay : true,
				effect : 'left',
				vis : 3,
				scroll : 3,
				autoPage : true
			});
			jQuery('.picScroll').mouseover(function() {
				jQuery('.picScroll .next').show();
				jQuery('.picScroll .prev').show();
			}).mouseleave(function() {
				jQuery('.picScroll .next').hide();
				jQuery('.picScroll .prev').hide();
			});
		})
	</script>
	<div class="picScroll">
		<div class="tempWrap"
			style="overflow: hidden; position: relative; width: 759px">
			<ul
				style="width: 2277px; left: -759px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
				<li style="float: left; width: 252.888888835907px;"><a
					href="/advert_redirect.htm?url=&id=12"
					target="_blank"><span class="img_cspan"><p>
								<img
									src="./index_files/762bf13c-2bb3-439f-a2fe-db4ae4fbef3b.jpg"
									width="253" height="253">
							</p></span></a></li>
				<li style="float: left; width: 252.888888835907px;"><a
					href="/advert_redirect.htm?url=&id=13"
					target="_blank"><span class="img_cspan"><p>
								<img
									src="./index_files/42ef9d05-0961-4762-b0c1-0263517802e4.jpg"
									width="253" height="253">
							</p></span></a></li>
				<li style="float: left; width: 252.888888835907px;"><a
					href="/advert_redirect.htm?url=&id=14"
					target="_blank"><span class="img_cspan"><p>
								<img
									src="./index_files/20a4ce97-8597-42d7-aec0-6719c8e6ae37.jpg"
									width="253" height="253">
							</p></span></a></li>
				<li style="float: left; width: 252.888888835907px;"><a
					href="/advert_redirect.htm?url=&id=15"
					target="_blank"><span class="img_cspan"><p>
								<img
									src="./index_files/ee6403f2-8e21-41fa-ac4d-0d284c9e7393.jpg"
									width="253" height="253">
							</p></span></a></li>
				<li style="float: left; width: 252.888888835907px;"><a
					href="/advert_redirect.htm?url=&id=16"
					target="_blank"><span class="img_cspan"><p>
								<img
									src="./index_files/95fbbc34-1e4f-43cc-b9d8-4eccb0d0ebab.jpg"
									width="253" height="253">
							</p></span></a></li>
				<li style="float: left; width: 252.888888835907px;"><a
					href="/advert_redirect.htm?url=&id=17"
					target="_blank"><span class="img_cspan"><p>
								<img
									src="./index_files/7905e208-28cc-4b96-ad34-9be4253052da.jpg"
									width="253" height="253">
							</p></span></a></li>
				<li style="float: left; width: 252.888888835907px;"><a
					href="/advert_redirect.htm?url=&id=18"
					target="_blank"><span class="img_cspan"><p>
								<img
									src="./index_files/a0f6fcc0-9f6b-4f42-819d-c234a18e1f1f.jpg"
									width="253" height="253">
							</p></span></a></li>
				<li style="float: left; width: 252.888888835907px;"><a
					href="/advert_redirect.htm?url=&id=19"
					target="_blank"><span class="img_cspan"><p>
								<img
									src="./index_files/f73b8e1f-b056-4b9a-a513-90e274ec841f.jpg"
									width="253" height="253">
							</p></span></a></li>
				<li style="float: left; width: 252.888888835907px;"><a
					href="/advert_redirect.htm?url=&id=20"
					target="_blank"><span class="img_cspan"><p>
								<img
									src="./index_files/5919d1f7-a3f3-46e3-8cc2-5e7dd5adbdc2.jpg"
									width="253" height="253">
							</p></span></a></li>
			</ul>
		</div>
		<a href="javascript:void(0);" class="next" style="display: none;"></a><a
			href="javascript:void(0);" class="prev" style="display: none;" i=""></a>
	</div>
</div>